<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VMATTBIautoPlan.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <VMATTBIautoPlan.Properties.Settings>
            <setting name="MRRestartLevel" serializeAs="String">
                <value>MR3</value>
            </setting>
            <setting name="useGPUoptimization" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="useGPUdose" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="optimizationModep" serializeAs="String">
                <value>PO_15605</value>
            </setting>
            <setting name="calculationModel" serializeAs="String">
                <value>AA_15605</value>
            </setting>
            <setting name="useFlashByDefault" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="defaultFlashType" serializeAs="String">
                <value>Global</value>
            </setting>
            <setting name="defalutFlashMargin" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="defaultTargetMargin" serializeAs="String">
                <value>0.3</value>
            </setting>
            <setting name="contourOverlap" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="contourFieldOverlapMargin" serializeAs="String">
                <value>1.0</value>
            </setting>
            <setting name="documentationPath" serializeAs="String">
                <value />
            </setting>
            <setting name="courseId" serializeAs="String">
                <value>VMAT_TBI</value>
            </setting>
            <setting name="checkTTCollision" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="allVMAT" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="extraIsos" serializeAs="String">
                <value>0</value>
            </setting>
        </VMATTBIautoPlan.Properties.Settings>
    </userSettings>
</configuration>